@model IEnumerable<StoreManagement.Models.Product>

@{
    ViewBag.Title = "List of products";
}

<h2>List of products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(m => !m.IsDeleted))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Go to Archive", "Archive", "Product")

</p>